<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Elysium Studio" value="https://nuget.pkg.github.com/elysium-studio/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="CommunityToolkit.*" />
      <package pattern="Microsoft.*" />
      <package pattern="runtime.*" />
      <package pattern="System.*" />
      <package pattern="Velopack" />
      <package pattern="WinUIEx" />
    </packageSource>
    <packageSource key="Elysium Studio">
      <package pattern="Elysium.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
